.App{
    width:70%;
    margin: 0 auto;
}

img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center
}

.list{
    display: flex;
    flex-wrap: wrap;
}

.item{
    width:calc(33.33% - 4rem);
    height: 20rem;
    margin: 2rem;
    list-style: none;
}

.item a{
    display: block;
    height: inherit;
}


.detail--character{
    margin-top:3rem;   
    padding:3rem;
}

.detail--character--container{
    display: flex;
    justify-content: start;
    align-items: stretch;
}

.detail--character--detail{
    flex:1;
    margin-left:2rem;
    height:30rem;
    color:#333;
}

.detail--character--button{
    margin-top:3rem;
   display: block;
   text-align: center;
    font-size:1.5rem;
    text-decoration: none;
    padding:0.5rem;
    /* background-color: #e83d45; */
    background-color: transparent;
    border:2px solid #e83d45;
    color:#e83d45;
    transition: 0.3s ease;
}

.detail--character--button:hover{
    background-color: #e83d45;
    color:#fff;
}

@media (max-width:1024px){
    .detail--character--photo{
        flex:1;
    }
}

@media (max-width:768px){
    .item{
        width:calc(50% - 2rem);
        margin:1rem;
    }
    .detail--character--container{
        flex-direction: column;
    }
    .detail--character--photo{
        flex:1;
        height: 30rem;
    }
}

@media (max-width:600px){
    .App{
        width:90%;
    }
    .item{
        width:100%;
        margin:1rem;
    }
}